

#amountParticipants {
    background-color: #ff9900;
    border: none;
    color: white;
    font-size: 2em;
    padding: 20px;
}

.increment {
    background-color: #3cb371;
    border: none;
    color: white;
    font-size: 2em;
    padding: 20px;
}

.decrement {
    background-color: #dc143c;
    border: none;
    color: white;
    font-size: 2em;
    padding: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.results {
    font-family: Calibri;
    font-size: medium;
    font-weight: lighter;
    color: #23422c;
}

.result-view {
    border-style: solid;
    border-color: #23422c;
    column-count: 2;

}